<div class="row">
    <div class="col-xs-12" style="height:40px;">
        <div style='position:relative;'>
            <% for(i = 0; i < 24; i++) { %>
                <span class="hour-text" style="left:<%= (i*100.0/24.0) %>%"><%= i %>:00</span>
            <% } %>
        </div>
    </div>
</div>
<% _.each(by_hour, function(event){
  console.dir(event);
%>
<div class="row">
    <div class="col-xs-12">
        <div class='hour-row'>
            <% for(i = 0; i < 24; i++) { %><span class="hour-block" style="top:0; left:<%= (i*100.0/24.0) %>%">&nbsp;</span><% } %>
            <div class="event-bar hr-<%=event.class%>" style="position:absolute; left: <%=event.left%>%; width: <%=event.width%>%;"><a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"><%
            if(event.before_time) { %><span class="glyphicon glyphicon-chevron-left")></span><% } %><span style="width: 100%;"><%= event.title %></span><%
            if(event.after_time){ %><span class="glyphicon glyphicon-chevron-right"></span><% } %></a></div>
        </div>
    </div>
</div>
<% }); %>
<div class="row">
    <div class="col-xs-12">
        <div class='hour-row'>
            <div style='position:relative;'>
                <% for(i = 0; i < 24; i++) { %><span class="hour-block" style="top:0; left:<%= (i*100.0/24.0) %>%">&nbsp;</span><% } %>
            </div>
        </div>
    </div>
</div>
